{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse - Ma boutique{% endblock %}

{% block content %}
    <h1>Gérer mes adresses</h1>
    <a href="{{ path('account_address') }}">Retour</a><br>
    <hr>
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-12">
                {{ form_row(form.name) }}
            </div>
            <div class="col-md-6">{{ form_row(form.firstname) }}</div>
            <div class="col-md-6">{{ form_row(form.lastname) }}</div>
        </div>
    {{ form_end(form) }}
{% endblock %}