{% extends 'base.html.twig' %}

{% block title %}Mes adresses - Chnowballski{% endblock %}

{% block content %}
    <a href="{{ path('account_address_add')}}" class="btn btn-primary float-right">Ajouter une adresse</a>
    <h1>Mes adresses</h1>
    Bienvenue dans votre compte {{ app.user.firstname }} !
    <br>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos adresses.
    <br>
    <a href="{{ path('account') }}">Retour</a><br>
    <hr>
    {% if app.user.addresses|length == 0 %}
        Vous n'avez pas encore ajouté d'adresse, pour en ajouter une, veuillez <a href="{{ path('account_address_add')}}">cliquer ici</a><br>
    {% else %}
        <div class="row">
            {% for address in app.user.addresses %}
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                                <h5 class="card-title">{{ address.name}}</h5>
                                <p class="card-text">{{ address.address}} - {{ address.city}} - {{ address.postal}}</p><br>
                            <a href="{{ path('account_address_edit', {'id' : address.id} ) }}">Modifier</a> | <a href="{{ path('account_address_delete', {'id' : address.id} ) }}">Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <hr>
{% endblock %}