{% extends 'base.html.twig' %}

{% block title %}Mon compte - Chnowballski{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    Bienvenue dans votre compte {{ app.user.firstname }} !
    <br>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.
    <hr>
    - <a href="{{ path('account_password') }}">Modifier mon mot de passe</a><br>
    - <a href="{{ path('account_address') }}">Mes adresses</a><br>
    - <a href="{{ path('account_order') }}">Mes commandes</a><br>
    <hr>
{% endblock %}