{% extends 'base.html.twig' %}

{% block title %}Mes commandes - Chnowballski{% endblock %}

{% block content %}
    <h1>Mes commandes</h1>
    C'est dans cet espace que vous allez pouvoir gérer toutes vos commandes.
    <br>
    <a href="{{ path('account') }}">Retour</a><br>
    {% if orders|length == 0 %}
        <hr>
        <p class="text-center">
            Vous n'avez pas encore de commande.
        </p>

    {% else %}
        <table class="table mt-4">
            <thead>
            <tr>
                <th scope="col">Référence</th>
                <th scope="col">Passée le</th>
                <th scope="col">Mes produits</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td><span class="badge badge-success">{{ order.reference }}</span></td>
                        <td>{{ order.createdAt|date('d/m/Y') }}</td>
                        <td>{{ order.orderDetails|length }}</td>
                        <td>{{ ((order.carrierPrice + order.getTotal)/ 100)|number_format(2, ',', '.') }}€</td>
                        <td class="text-right"><a href="{{ path('account_order_show', {'reference' : order.reference}) }}">Voir ma commande</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <hr>
{% endblock %}