{% extends 'base.html.twig' %}

{% block title %}Erreur de paiement de commande - Chnowballski{% endblock %}

{% block content %}
    <h2>Erreur de paiement</h2>
    <p>
        Bonjour <strong>{{ order.user.firstname }} {{ order.user.lastname }}</strong>, <br><br>
        Il semblerait que le paiement a été refusé pour votre commande numéro : <strong>{{ order.reference }}</strong><br>
        Une information concernant ce problème vient de vous être envoyée par email à l'adresse : <strong>{{ order.user.email }}</strong>
    <hr>
    </p>
    <a href="{{ path('order') }}" class="btn btn-success">Réessayez le paiement</a>
{% endblock %}

