body {
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background-color: #dfeaff;
    margin-top: 50px;
}

.product-item {
    margin-top: 50px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-reference {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price {
    font-size: 19px;
}

.cart-icon {
    height: 20px;
    padding-left: 20px;
}

.block-small{

    max-width: 600px;
    margin: 0 auto;
}

.form-check{

    background: #f4f8ff;
    padding : 20px 65px;
    margin-top : 7px;
}

.grid{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}