{{ form_start(form, { attr : { class: 'filter'}}) }}

{{ form_row(form.string) }}
<h4>Categories</h4>
{{ form_row(form.categories) }}
<h4>Prix</h4>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.min) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.max) }}
    </div>
</div>
<div class="mb-3" id="price-slider" data-min="{{ min }}" data-max="{{ max }}"></div>

<button type="submit" class="btn btn-block btn-info">Filtrer</button>

{{ form_end(form) }}