{% extends 'base.html.twig' %}

{% block title %}Nos produits - Ma boutique{% endblock %}

{% block content %}
<div class="container js-filter">
    <div class="row">
        <div class="col-md-3 js-filter-form">
            <h3>Filtrer</h3>
            {% include 'product/_filter.html.twig' with { form: form, min: min, max: max } only %}
        </div>
        <div class="col-md-9">
            <h3>Nos produits</h3>
            <div class="container">
                <div class="d-flex justify-content-end mb-2 js-filer-sorting">
                    {{ knp_pagination_sortable(products, 'Prix ', 'p.price') }}
                </div>
                <div class="grid js-filter-content">
                    {% include 'product/_products.html.twig' %}
                </div>
                <div class="mt-4 js-filter-pagination">
                    {{ knp_pagination_render(products) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
