<div class="product-item text-center">
    <div class="card">
        <div class="card-header">
           <a href="{{ path('product', {'slug' : product.slug}) }}">
                <img src="/uploads/{{ product.illustration }}"
                     alt="{{ product.name }}"
                     height="100px"
                     title="{{ product.name }}">
            </a>
        </div>
        <div class="card-body">
            <div class="card-title"><h5>{{ product.name }}</h5></div>
            <div class="card-title"><p class="product-reference">Rèf : #{{ product.reference }}</p></div>
            <div class="card-title text-info"><span class="product-price">{{ (product.price/100)|number_format(2, ',', '.') }}€</span></div>
        </div>
    </div>
</div>