<a{% for attr, value  in options | merge({'class' : 'btn btn-info'})%} {{ attr }}="{{ value }}"{% endfor %}>
<span class="float-right ml-2">
        {% if sorted %}
            {% if direction == 'desc' %}

                <p style="font-style : italic" class="my-auto">(Croissant) <i class="fa fa-sort-down"></i></p>
            {% else %}

                <p style="font-style : italic" class="my-auto">(Décroissant) <i class="fa fa-sort-up"></i></p>
            {% endif %}
        {% else %}
            <i class="fa fa-sort"></i>
        {% endif %}
    </span>
{{ title }}
</a>
