@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";

a
{
    text-decoration: none;
}

.foo
{
    font-size: 2rem;
}

.iconServices
{
    margin-top: 20px;
    font-size: 3rem;
}

.iconContact
{
    font-size: 1.5rem;
}

.white
{
    color: #fff;
}

body {
    position: relative;
}

.navbar-item-custom, .navbar-item-custom a {
    color: #fff;
}

.footer-custom 
{
    text-align: center;
    position: fixed;
    width: 100%;
    background-color: #212529;
    padding-top: 25px;
    bottom: 0;
}

.product-item {
    margin-top: 50px;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
}

.product-item .product-price {
    font-size: 15px;
    font-weight: bold;
}

.product-container {
    margin-bottom: 150px;
}

.product-page-price {
    font-size: 19px;
}


.block-small {

    max-width: 600px;
    margin: 0 auto;
}
.form-check{

    background: #f4f8ff;
    padding : 20px 65px;
    margin-top : 7px;
}

.grid{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;


.col-form-label {
    font-weight: bold;
}

.order-summary {
    background-color: #f4f8ff;
    padding: 20px;
    margin-top: 22px;

}

/*************HAMBURGER BTN**********************/
#burgerBtn
{
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;
}

.burger
{
    width: 33px;
    height: 24px;
    cursor: pointer;
    position: relative;
    display: block;
    margin: auto;
}

.burger span
{
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    display: flex;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color .3s ease-in-out;
}

.burger span::before, .burger span::after
{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    transition: transform .5s ease-in-out;
}

.burger span::before
{
    transform: translateY(-10px);
}

.burger span::after
{
    transform: translateY(+10px);
}

.burger.active span
{
    background-color: transparent;
}

.burger.active span::before
{
    transform: translateY(0px) rotateZ(45deg);
}

.burger.active span::after
{
    transform: translateY(0px) rotateZ(-45deg);
}
/****************NAVBAR********************/
.navbar-dark
{
    background: #212529;
}

.navbar-brand
{
    outline: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}
/****************************************/
@at-root.bd-placeholder-img 
{
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) 
{
    .bd-placeholder-img-lg 
    {
        font-size: 3.5rem;
    }
}
/************************************/
.map
{
    height: 250px;
}
#marker 
{
    width: 20px;
    height: 20px;
    border: 1px solid #088;
    border-radius: 10px;
    background-color: #0FF;
    opacity: 0.5;
}
}
