{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block content %}

    <h2>Nous contacter</h2>
    <p>N'hésiter pas à nous contacter, notre équipe prendra contact avec vous dans les meilleurs délais !</p>

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

    <div class="col-md-8">
        {{ form(form )}}
    </div>

    <div class="col-md-4">
        <strong>La boutique ChnowballSki</strong>
        <hr>
        +33 (0) 1 53 81 73 07
        55 boulevard des Alpes, 05100 Les Alpes
    </div>

{% endblock %}
