{% extends 'base.html.twig' %}

{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>
{% endblock %}

{% block title %}Valider ma commande - ChnowballSki{% endblock %}

{% block content %}
    <h2>Mon récapitulatif</h2>
    <p>Vérifiez vos informations avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <strong>Mon adresse de livraison</strong><br>
            <div class="form-check mt-4">
                {{ delivery|raw }}
            </div>
            <hr>
            <strong>Mon transporteur</strong><br>
            <div class="form-check">
                {{ carrier.name }} <br>
                {{ carrier.description }} <br>
                {{ (carrier.prix/100)|number_format(2, ',', '.') }}€
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Ma commande</b><br>
            </div>
            <div class="order-summary">
                {% set total = null %}
                {% for key,product in cart %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="75px">
                        </div>
                        <div class="col-8 my-auto">
                            {{ product.product.name }}<br>
                            <small>
                                {{ product.product.reference }} <br>
                                x {{ product.quantity }}
                            </small>
                        </div>
                        <div class="col-2 my-auto">
                            {{ ((product.product.price * product.quantity)/100)|number_format(2, ',', '.') }}€
                        </div>
                    </div>
                    {% set total = total + (product.product.price * product.quantity) %}
                {% endfor %}
            </div>
            <hr>
            <strong>Sous-total : </strong> {{ (total/100)|number_format(2, ',', '.') }}€ <br>
            <strong>Livraison : </strong> {{ (carrier.prix/100)|number_format(2, ',', '.') }}€
            <hr>
            <strong>Total : </strong> {{ ((total/100) + (carrier.prix/100))|number_format(2, ',', '.') }}€

            <a class="btn btn-success btn-block mt-3" id="checkout-button">Payer {{ ((total/100) + (carrier.prix/100))|number_format(2, ',', '.') }}€</a>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51IEBisGORmAwiOwdDGc5FPiXhGvjsmyBurFuNK8jTv6u4aNM7GFNd8sTWWQpbUlXB5fRvtiKbqh7D45iC5F7CN2H00AA5lO9yz");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session{{ reference }}", {
                method: "POST",
            })
                .then(function (response) {
                    return response.json();
                })
                .then(function (session) {
                    if (session.error == 'order') {
                        // Redirection
                        window.location.replace('{{ path('order') }}');
                    } else {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                    }
                })
                .then(function (result) {
                    // If redirectToCheckout fails due to a browser or network
                    // error, you should display the localized error message to your
                    // customer using error.message.
                    if (result.error) {
                        alert(result.error.message);
                    }
                })
                .catch(function (error) {
                    console.error("Error:", error);
                });
        });
    </script>
{% endblock %}
