 {% extends 'base.html.twig' %}

 {% block title %}Page non trouvée !{% endblock %}

 {% block stylesheets %}
    {{ encore_entry_link_tags('error404') }}
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?
            <p>Let's go 
                <a href="{{ path('home') }}">Accueil</a> 
                    and try from there.
            </p>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block script %}
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
{% endblock %}